<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
<form action="#" th:action="@{/payment}" th:object="${sale}" method="post">
    <label for="card123">flight id</label>
    <input type="text" id="card123" name="id" th:field="*{ticketId}">

    <label for="card124">client id</label>
    <input type="text" id="card124" name="id" th:field="*{clientId}">

    <label for="total1">final price</label>
    <input type="text" id="total1" name="id" th:field="*{total}">

    <label for="card">Numar card</label>
    <input type="text" id="card" name="cardNr" th:field="*{numar_card}">

    <label for="card2">CVC card</label>
    <input type="text" id="card2" name="cvc" th:field="*{cvc}">


    <label for="card3">Data exp. card</label>
    <input type="text" id="card3" name="expCard" th:field="*{expira}">

    <label for="card4">Nume card</label>
    <input type="text" id="card4" name="numeCard" th:field="*{nume}">

    <button type="submit" >Buy ticket</button>
</form>
</body>
</html>